$custom:       #7b776c !default; 
$custom-gray:  #f4f4f4 !default;
$custom-white: #ffffff !default;
$custom-yellow:#f5b937 !default; 
$custom:       #7b776c !default;
$main:         #f5b937 !default;
$content:      #eee6c7 !default;
$sweet :       #ffc2c3 !default;
$rose :        #fe7773 !default;
$red:          #e81e25 !default;