.footer {
  .list-group {
    .list-group-item {
      margin-bottom: 0;
      border: 0;
      padding: 0.5rem 1.25rem;
      background-color: transparent;
      a {
        position: relative;
        text-decoration:none;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          bottom:0;
          left: 0;
          height: 2px;
          width: 0;
          display:inline-block;
          background: $custom-yellow;
          transition: width .6s;
        }
        &:hover::before {
          width:100%;
        }
      }
    }
  }
  .copyright {
    ul {
      li {
        a:hover {
          color: $custom-yellow;
        }
      }
    }
  }
  input[type="text"] {
    border: 0;
    border-bottom:1px solid $custom-gray;
  }
}