
.home {
  .header-wrap {
    background-color: $custom-gray ;
    position: relative;
    .left-content {
      .header {
        position: absolute;
        left: 80%;
        top: 20%;
        z-index: 1;
        margin-right: -200px;
        .header-title {
          color:#272b36 ;
          font-weight: 600;
        }
        .header-text {
          color: #272b36;
          font-weight: 600;
        }
      }
    }
  }
  
  .home-img-1 {
    background-image: url('~@/assets/images/product-1.jpg');
  }
  .home-img-2 {
    background-image: url('~@/assets/images/product-2.jpg');
  }
  .home-img-3 {
    background-image: url('~@/assets/images/product-3.jpg');
  }
  .home-img-4 {
    background-image: url('~@/assets/images/product-4.jpg');
  }
  .home-img-5 {
    background-image: url('~@/assets/images/product-5.jpg');
  }
  .img-jump {
    text-decoration: none;
    transition: .33s all ease;
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
    &:hover .discription {
      opacity: 1;
      transform: scale(1);
      padding: 15px;
    }
    .discription {
      opacity: 0;
      transform: scale(.8);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 25px;
      background-color: rgba(245, 185, 55, 0.5);
      color: $custom-gray;
      transition: 250ms ease-in-out;
      &:hover::before {
        opacity: 1;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin: 1.2rem 0;
        }
      }
    }
  }

  .hot {
      background-color: $custom-gray;
  }
  .titleText {
      display: inline-block;
      border-bottom: 3px solid $custom-yellow;
    }

  .news {
    background-color: $custom-white;
    .news-left {
      background-color: $custom-gray;
      box-shadow: 3px 3px 3px $custom-yellow;
    }
    .news-right {
      background-color: $custom-gray;
    }
  }
  .bg-cover {
    background-position: center center ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    height: 100%;
    width:100% ;
  }
  @keyframes flicker {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
  }
  .flicker {
    animation: flicker 2s linear infinite;
  }
  @include media-breakpoint-down(md) {
    .header-wrap {
      .left-content {
        .header {
          .header-title {
            font-size: 24px;
          }
          .header-text {
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .header-wrap {
      .left-content {
        .header {
          // left: 0;
          // bottom: 200px;
          // margin-right: -200px;

          .header-title {
            font-size: 20px;
          }
          .header-text {
          }
        }
      }
    }
  }
}
// .header {
//   position: absolute;
  
//   z-index: 1;
//   margin-right: -200px;
//   .header-title {
//     color:#272b36 ;
//     font-weight: 600;
//   }
//   .header-text {
//     color: #272b36;
//     font-weight: 600;
//   }