.marketInfo {
  .title {
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #555;
    text-align: center;
  }
  .store-wrap {
    .store_info {
      height: 300px;
      margin-top: 20px;    
      ul {
        list-style: none;
        margin: 0;
        padding: 0; 
      }
      .store-name {
        position: relative;
        writing-mode: vertical-rl;
        &::before {
          content: '';
          position: absolute;
          bottom:0;
          left: 0;
          height: 100%;
          width: 2px;
          display: inline-block;
          border-left: 3px solid $main;
        }
      }
    }
  }
  .store_map {
    height: 300px;
  }
  .banner-img {
    background-image: url('~@/assets/images/marketInfo-header-1.jpg');
  }
  .jumbotron-bg-cover {
    background-size: cover;
    background-position: center center;
    min-height: 400px;
  }
}