
.productlist {
  .mainmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      i {
        margin-right:5px; 
        transition: transform .5s ease;
      }
      &.active {
        i {
          transform: rotate(90deg);
          transition: transform .5s ease;
        }
        ul {
          display: block;
          max-height: 200px;
        }
      }
      a {
        display: block;
        // background-color: #CCC;
        font-weight: 600;
        text-decoration: none;
        padding: 10px;
        color: #000;
        &:hover {
          // background-color: #C5C5C5;
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      max-height: 0;
      transition: all 0.5s ease-out;
      li {
        margin-left: 20px;
        a {
          padding-left:0; 
          padding-right:0; 
          position: relative;
          font-weight: normal;
          // background-color: #999;
          display: inline-block;
          &:hover {
            // background-color: #666;
          }
          &::before {
            content: '';
            position: absolute;
            bottom:-2px;
            left: 0;
            height: 2px;
            width: 0;
            display:inline-block;
            background: $custom-yellow;
            transition: width .6s;
          }
          &:hover::before {
            width:100%;
          }
        }
      }
    }
  }

  .banner-img {
    background-size: cover;
    background-position: center center;
    height: 400px;
    background-image: url('~@/assets/images/banner.jpg');
  }
  .list-group .active {
    background-color: $custom-yellow;
  }
  .list-group-item {
    cursor: pointer;
    border: 0;
  }
  .card {
    cursor: pointer;
  }
  .card-bg-cover {
    background-size: cover;
    background-position: center center;
    height: 200px;
    &:hover {
      opacity: 0.8;
    }
  }
  .box-shadow {
    box-shadow: 0 3px 5px  rgba(0, 0, 0, .16);
  }
  .box-shadow:hover {
    box-shadow: 0 3px 5px  rgba(0, 0, 0, 0.7);
  }
  @keyframes flicker {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
  }
  .flicker {
    animation: flicker 2s linear infinite;
  }
  
  @include media-breakpoint-down(md) {
    .jumbotron h1 {
      font-size: 40px;
    }
  }
  @include media-breakpoint-down(sm) {
    .jumbotron h1 {
      font-size: 30px;
    }
    .card-bg-cover {
      background-size: cover;
      background-position: center center;
      height: 300px;
    }
  }
}
